<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="application/javascript">
  var tagData = {};

  <% @documents.each do |doc| %>
    tagData['document_<%= doc.id%>'] = <%= doc.tag_frequency.to_json.html_safe %>
  <% end %>
</script>

<div id="upload_menu">
  <h3>Upload New Document</h3>
  <div>
    <%= render 'form' %>
  </div>
</div>

<div id="document_listing">
  <h1>Listing Documents</h1>

  <% if @documents.empty? %>

  Nothing to see here. Get to uploading!

  <% else %>

  <table id="document_table">
    <thead>
      <th>Uploaded</th>
      <th>Tags</th>
      <th>Original File</th>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="timestamp"><%= document.created_at.strftime('%D %R') %></td>
          <td class="tag-frequency">
            <div class="tag-chart" tag-data-id="document_<%= document.id %>"></div>
          </td>
          <td class="actions">
            <p class='file-name'><%= document.original_document_file_name %></p>
            <p>
              <span class='download-link'><%= link_to 'Download', document.original_document.url %></span>
              <span class='destroy-link'><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </p>
          </td>
        </tr>

        <% document.tag_list.each do |tag| %>
          <div id="document_<%= document.id %>-<%= tag.gsub(/\s/,'-') %>-dialog" title="<%= '"' + tag + '"' %> Contexts" class='context-dialog'>
            <ul>
              <li><%= document.tags.where(label: tag).map(&:context).uniq.join('</li><li>').html_safe %></li>
            </ul>
          </div>
        <% end %>

      <% end %>
    </tbody>
  </table>

  <% end %>

</div>
